<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="login-container">
            <h1>Sign In</h1>
            <form action="/api/login" method="post">
                <label for="username">Username:</label>
                <span class="error" id="username-error"></span>
                <input type="text" id="username" name="username">
                <br>
                <label for="password">Password:</label>
                <span class="error" id="password-error"></span>
                <input type="password" id="password" name="password">
                <br>
                <button type="submit" id="signin" class="user-button">Sign In</button>
            </form>
        </div>

        <script src="/scripts/login.js"></script>
    </body>
</html>

