<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./functions/getDateString.ejs') %>

    <h1>Posts</h1>
    <% if (user.userId) { %>
        <div class="post send-box">
            <div class="post-user-input" contenteditable="true"></div>
            <button class="post-button">Send</button>
        </div>
    <% } %>
    <% posts.forEach(post => { %>
        <%- include('./partials/reusable-post.ejs', {post: post}) %>
    <% }) %>
    <script src="/scripts/postInteractivity.js" type="module"></script>
    <script src='/scripts/postSend.js' type="module"></script>
</body>
</html>