body {
    margin: 0;
    word-wrap: break-word;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 95%;
}

h1 {
    margin: 5px;
}
.modal-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
        margin-inline: 10px;
    }
}
.avatar-preview {
    width: 200px;
    height: 200px;
    margin-inline: auto;
}
.avatar-modal {
    width: 33%;
    max-height: 30em;
    margin: 90px;
    margin-inline: auto;
    padding: 20px;
    background-color: rgb(239, 239, 239);

    border-radius: 2px;
    box-shadow: 0 0 3px 1px grey;
    border: none;
}
.avatar-modal-contents{
    display: flex;
    align-items: center;
}
.avatar-change {
    cursor: pointer;
}
.hidden {
    display: none;
}
.profile-avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.small-avatar {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.stat {
    margin-inline: 5px;
}
.stats-container {
    margin-left: auto;
    display: flex;
}
.speech-bubble {
    fill: #474747;
    width: 20px;
    height: auto;
    margin-left: 8px;
}
.heart {
    margin-left: 8px;
    width: 20px;
    height: auto;
    fill: #474747;
    transition: 0.1s;
}
.heart:hover {
    fill: #6e6e6e;
}
.heart.loved {
    fill: #de4b4b;
}
.heart.loved:hover {
    fill: #d86b6b;
}
.heart.unloaded {
    fill: #a4a4a4;
}
.post-bottom {
    display: flex;
}
.error-page {
    width: fit-content;
    text-align: center;
    margin: 10px;
    margin-inline: auto;
    font-size: 150%;
}
.error-x-button {
    border-radius: 10px;
    border: none;
    margin: 10px;
    background: red;
    padding: 2px;
    font-size: 110%;
}
.error-x-button:hover {
    background-color: rgb(190, 0, 0);
}
.error-header {
    background-color: rgb(255, 169, 146);
    border: solid 2px rgb(203, 68, 41);
    padding: 10px;
    position: fixed;
    top: 20vh;
    margin: 20px;
}
.user-posts-header {
    margin: 30px;
    margin-inline: auto;
    width: 52%;
}
.follow-button {
    font-size: 1rem;
    padding-block: 5px;
    padding-inline: 20px;
    border: solid black 2px;
    border-radius: 2px;
    background-color: rgb(227, 198, 254);
}

.user-grid {
    margin: 50px;
    padding: 30px;
    display: grid;
    gap: 1rem;
    margin-inline: auto;
    width: 80%;
    background-color: rgb(211, 211, 240);


    border-radius: 2px;
    box-shadow: 0 0 3px 1px rgb(118, 118, 215);

    @media only screen and (min-width: 600px) {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
}

.user-block {
    padding: 10px;
    box-shadow: 0 0 3px 1px grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgb(239, 239, 239);

    border-radius: 2px;
}

.user-page-right {
    margin-left: auto;
}
.followers-link {
    display: block;
    text-align: center;
    margin-top: 5px;
}
.followers-link:hover {
    text-decoration: underline;
}
.follow-button:active {
    background-color: rgb(193, 156, 228);
}
.follow-button.followed {
    background-color: rgb(191, 208, 248);
}
.user-container {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin-inline: auto;
    margin-block: 20px;
    background-color: rgb(239, 239, 239);
    border: solid 2px grey;
    padding: 20px 30px;
}
.user-username-box {
    display: flex;
    align-items: center;
}
.user-username {
    font-size: 130%;
    display: inline-block;
}
.user-info {
    color: grey;
    font-style: italic;
    margin-top: 5px;
}
.admin-square {
    height: 8px;
    width: 8px;
    background-color: red;
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
}
.user-bio {
    margin-top: 10px;
    padding: 8px;
    border: dashed 2px black;
    border-radius: 5px;
}
.user-bio:focus {
    border: blue 2px solid;
    outline: none;
}
input.user-bio {
    width: 50vw;
}

.dropdown {
    display: inline-block;
    .dropdown-button {
        border: none;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background: none;
        font-weight: bold;
        font-size: 120%;
    }
}
.dropdown.open .content {
    display: flex;
    flex-direction: column;
}
.content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px 0px;
    box-shadow: 0 0 3px 1px grey;
}
.dropdown-element {
    min-width: 80px;
    border: none;
    background: none;
    padding: 5px;
    text-align: left;
    a {
        text-decoration: none;
        color: inherit;
    }
}
.dropdown-element:hover {
    background-color: rgb(227, 227, 227);
}

.error {
    display: block;
    color: red;
    text-align: left;
    width: 80%;
    margin-inline: auto;
    font-size: 80%;
}

.login-container {
    width: 40%;
    margin-inline: auto;
    text-align: center;
    margin-top: 100px;
    padding: 30px;
    font-size: 120%;


    border-radius: 5px;
    box-shadow: 0 0 3px 1px black;

    h1 {
        padding-bottom: 10px;
    }
    input {
        font-size: 1rem;
        border-radius: 2px;
        width: 80%;
        padding: 5px;
        margin: 10px;
        margin-bottom: 30px;
        border: solid black 1px;
    }
    label {
        display: block;
    }
}
.user-button {
    font-size: 1rem;
    padding: 5px;
    border: solid black 2px;
    border-radius: 2px;
    background-color: rgb(227, 198, 254);
}
.user-button:active {
    background-color: rgb(203, 155, 248);
}

.reply.input-box {
    white-space: collapse;
}
.reply-button {
    color: blue;
    display: block;
    margin-top: 10px;
    user-select: none;
}
.reply-button:hover {
    text-decoration: underline;
    cursor: pointer;
}
.reply {
    transition: max-height 1s, margin-block 1s, padding-block 1s, opacity 2s;

    display: block;
    width: 50%;
    max-height: 50em;
    margin-bottom: 5px;
    margin-inline: auto;
    padding: 20px;
    background-color: rgb(239, 239, 239);

    border-radius: 2px;
    border: solid 2px grey;

    white-space: pre-wrap;
}
.comment-content {
    max-height: 22em;
    overflow: auto;
    scrollbar-width: thin;
    display: block;
}
.username-link {
    color: inherit;
    text-decoration: none;
}
.post-button {
    border: solid black 2px;
    border-radius: 2px;
    background-color: rgb(209, 209, 255);
    margin-left: 5px;
}
.post-button:active {
    background-color: rgb(168, 168, 255);
}
.reply.deleted {
    background-color: rgb(239, 186, 186);
    border: solid 2px rgb(147, 101, 101);
    overflow: hidden;
    max-height: 0px;
    margin-block: 0px;
    padding-block: 0px;
    opacity: 0%;

}
.selected-page {
    font-weight: bold;
}
.list-link {
    text-decoration: none;
    color: rgb(132, 58, 202);
}
.list-link:hover {
    text-decoration: underline;
}
.post-aligned {
    display: block;
    width: 50%;
    margin-inline: auto;
}
.post.deleted {
    background-color: rgb(239, 186, 186);
    box-shadow: 0 0 3px 1px rgb(144, 79, 79);
    overflow: hidden;
    max-height: 0px;
    margin-block: 0px;
    padding-block: 0px;
    opacity: 0%;
}
.post {
    transition: max-height 1s, margin-block 1s, padding-block 1s, opacity 2s;
    display: block;
    width: 50%;
    max-height: 30em;
    margin: 30px;
    margin-inline: auto;
    padding: 20px;
    background-color: rgb(239, 239, 239);

    border-radius: 2px;
    box-shadow: 0 0 3px 1px grey;
}
.post-content {
    white-space: pre-wrap;
    display: block;
    max-height: 22em;
    overflow: auto;
    scrollbar-width: thin;
}
.post-date {
    margin-top: 10px;
    display: block;
    color: grey;
    font-style: italic;
}
.post-link {
    color: inherit;
    text-decoration: none;
}
.unstyled-link {
    color: inherit;
    text-decoration: none;
}

.post.send-box {
    margin-bottom: 50px;
}
.post-send-box:focus-within {
    outline: solid blue 2px;
}
.post-user-input {
    margin-bottom: 10px;
    max-height: 22em;
    overflow: auto;
    scrollbar-width: thin;
}
.post-user-input:focus {
    outline: none;
}
.small-user-box {
    width: fit-content;
    display: flex;
    align-items: center;
}
.post-user-box {
    margin-bottom: 15px;
    padding-right: 5px;
}
.bottom-border {
    padding-bottom: 5px;
    border-bottom: solid rgb(175, 174, 174) 2px;
}
.post-username::before {
    content: '@'
}

.navbar {
    background-color: rgb(227, 198, 254);
    box-shadow: 0 0 3px 1px rgb(178, 101, 250);
    position: sticky;
    top: 0px;
    font-size: 120%;

    ul {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        align-items: center;

        .nav-element {
            transition-duration: 0.3s;
        }

        .nav-element:hover {
            background-color: rgb(178, 101, 250);
        }
        .website-name {
            padding: 16px;
            justify-content: flex-end;
            margin-left: auto;
        }
        @media only screen and (max-width: 700px) {
            padding-left: 0;
            width: 100%;
            * {
                padding-inline: 6px;
            }
            .website-name {
                padding-left: 10px;
            }
        }
        @media only screen and (max-width: 420px) {
            font-size: 94%;
            .website-name {
                margin-left: 0;
            }
        }
    }
}
.nav-avatar {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.nav-link.nav-username {
    padding: 16px;
    color: black;
    user-select: none;
    display: flex;
    align-items: center;
}
.nav-link {
    padding: 16px;
    text-decoration: none;
    color: black;
    display: block;
    user-select: none;
    cursor: pointer;
}