<% if (user.userId) { %>
    <nav class="navbar">
        <ul>
            <li class="nav-element"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-element"><a class="nav-link" href="/posts">Posts</a></li>
            <li class="nav-element nav-link" id="logout">Log Out</li>

            <a class="nav-link nav-element nav-username" id="username" href="/users/<%=user.username%>"><%=user.username%></a>
            <span class="website-name">Chronos</span>
        </ul>

        <script src="/scripts/navbarUser.js"></script>
    </nav>
<% } else { %>
    <nav class="navbar">
        <ul>
            <li class="nav-element"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-element"><a class="nav-link" href="/posts/">Posts</a></li>
            <li class="nav-element"><a class="nav-link" href="/join/">Join</a></li>
            <li class="nav-element"><a class="nav-link" href="/login/">Sign In</a></li>

            <span class="website-name">Chronos</span>
        </ul>
    </nav>
<% } %>