<% if (users.length > 0) { %>
    <div class="user-grid">
        <% for (let user of users) { %>
            <a href="/users/<%=user.username%>" class="user-block unstyled-link">
                <div class="small-user-box">
                    <img class="avatar small-avatar" src="/api/uploads/avatar/<%=user.user_id%>">
                    <%=user.username %>
                </div>
            </a>
        <% } %>
    </div>
<% } %>